---
import AuthLayout from '@/presentation/layouts/AuthLayout.astro';
import EmailForm from '@/presentation/components/auth/EmailForm';

export const prerender = true;

---
<AuthLayout action="forgot-password">
  <div class="w-full max-w-md mx-auto">
    <div class="flex flex-col items-center space-y-2">
      <h1 class="text-2xl font-semibold tracking-tight text-center">
        Forgot Password
      </h1>
      <p class="px-8 text-center text-sm text-muted-foreground">
        Enter your email below and we'll send you a link to reset your password
      </p>
      <div class="w-full max-w-xs space-y-6">
        <EmailForm buttonText="Reset password" location="/auth/forgot-password/confirm" client:load />
        <div style="text-align: center;">
          <a href="/auth/login" class="font-normal text-sm text-blue-600 dark:text-blue-500 hover:underline">
            ← Back to Login
          </a>
        </div>
      </div>
    </div>
  </div>
</AuthLayout>
