---
import HomeLayout from '@/presentation/layouts/HomeLayout.astro';
import ShortUrlCard from '@/presentation/components/url/ShortUrlCard.astro';

const { id } = Astro.params;

---
<HomeLayout>
	{ id ? <ShortUrlCard id={id} /> : <h1>Not found URL</h1> }
</HomeLayout>