---
import AuthLayout from '@/presentation/layouts/AuthLayout.astro';

import EmailForm from '@/presentation/components/auth/EmailForm';
import { Button } from '@/presentation/components/ui/button';

import GitHubIcon from '@/presentation/icons/GitHubIcon.astro';
import GoogleIcon from '@/presentation/icons/GoogleIcon.astro';

export const prerender = true;

---
<AuthLayout action="login">
  <div class="w-full max-w-md mx-auto">
    <div class="flex flex-col items-center space-y-2">
      <h1 class="text-2xl font-semibold tracking-tight text-center">
        Log in to your account
      </h1>
      <p class="px-8 text-center text-sm text-muted-foreground">
        Enter your email below to log in to your account
      </p>
      <div class="w-full max-w-xs space-y-6">
        <EmailForm buttonText="Sign in with email" location="/auth/login/email" client:load />
        <div class="relative space-y-6">
          <div class="absolute inset-0 flex items-center">
            <span class="w-full border-t"></span>
          </div>
          <div class="relative flex justify-center text-xs uppercase">
            <span class="bg-background px-2 text-muted-foreground"
              >Or continue with</span>
          </div>
        </div>
        <div class="flex space-x-2">
          <Button id="githubAuthButton" className="w-full" type="submit"> <GitHubIcon /> GitHub </Button>
          <Button id="googleAuthButton" className="w-full" type="submit"> <GoogleIcon />  Google </Button>
        </div>
      </div>
    </div>
  </div>
</AuthLayout>

<script>
const githubAuthButton = document.getElementById('githubAuthButton');
if (githubAuthButton) {
  githubAuthButton.onclick = () => window.location.href = 'http://localhost:3000/api/v1/auth/github';
}
const googleAuthButton = document.getElementById('googleAuthButton');
if (googleAuthButton) {
  googleAuthButton.onclick = () => window.location.href = 'http://localhost:3000/api/v1/auth/google';
}
</script>
