<p class="text-sm text-muted-foreground mb-2 text-center">If the email was valid, we have sent an email to:</p>
<p id="email-display" class="font-medium mb-4 text-center"></p>
<script>
  function updateEmailDisplay() {
    const params = new URLSearchParams(window.location.search);
    const email = params.get('email');
    const emailDisplay = document.getElementById('email-display');
    if (emailDisplay) emailDisplay.textContent = email;
  }
  document.addEventListener('astro:page-load', () => {
    updateEmailDisplay();
  });
  updateEmailDisplay();
</script>
