---
import { Button } from '@/presentation/components/ui/button';
import GitHubIcon from '@/presentation/icons/GitHubIcon.astro';
---

<Button id="githubAuthButton" className="w-full" type="submit">
  <GitHubIcon /> GitHub
</Button>

<script>
  const githubAuthButton = document.getElementById('githubAuthButton');
  if (githubAuthButton) {
    githubAuthButton.onclick = () => window.location.href = import.meta.env.PUBLIC_API_BASE_URL + '/auth/github';
  }
</script>