---
import { Button } from '@/presentation/components/ui/button';
import GoogleIcon from '@/presentation/icons/GoogleIcon.astro';
---

<Button id="googleAuthButton" className="w-full" type="submit">
  <GoogleIcon /> Google
</Button>

<script>
  const googleAuthButton = document.getElementById('googleAuthButton');
  if (googleAuthButton) {
    googleAuthButton.onclick = () => window.location.href = 'http://localhost:3000/api/v1/auth/google';
  }
</script>