---
import '@/presentation/styles/globals.css';
import Layout from '../layouts/Layout.astro';
import { Button } from '@/presentation/components/ui/button';
---

<Layout title="Welcome to Astro.">
	<Button>Hello World</Button>
</Layout>

