---
import Navbar from '@/presentation/components/shared/Navbar.astro';
import BaseLayout from '@/presentation/layouts/BaseLayout.astro';

const user = Astro.locals.user;

---
<BaseLayout title='URL Shortener'>
  <Navbar user={ user } />
  <main class="flex items-center justify-center min-h-[calc(100vh-3rem)]">
    <slot />
  </main>
</BaseLayout>