---
import { ExternalLink } from 'lucide-react';

import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from '@/presentation/components/ui/card';

import { Button } from '@/presentation/components/ui/button';
import { CopyInput } from '@/presentation/components/ui/copy-input';
import { Label } from '@/presentation/components/ui/label';

interface Props {
	id: string
}
const { id } = Astro.props;

---
<Card className="w-full max-w-md mx-auto">
  <CardHeader>
    <CardTitle>URL Shortener</CardTitle>
    <CardDescription>Shortened version of your long URL.</CardDescription>
  </CardHeader>
  <CardContent>
    <div class="grid w-full items-center gap-4">
      <div class="flex flex-col space-y-1.5">
        <Label className="mb-2" htmlFor="longUrl">Short URL</Label>
        <CopyInput client:load value={`http://localhost:3000/${ id }`} />
      </div>
    </div>
  </CardContent>
  <CardFooter>
    <div class='flex space-x-4'>
      <a href={`http://localhost:3000/${ id }`} target="_blank">
        <Button type="button">
          <ExternalLink /> Open Short URL
        </Button>
      </a>
      <a href="/">
        <Button type="button">
          Shorten another URL
        </Button>
      </a>
    </div>
  </CardFooter>
</Card>