---
import { ExternalLink } from 'lucide-react';

import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from '@/presentation/components/ui/card';
import { Button } from '@/presentation/components/ui/button';
import { Label } from '@/presentation/components/ui/label';
import ClipLinkLogo from '@/presentation/components/shared/ClipLinkLogo.astro';
import ShortUrlCopyInput from './ShortUrlCopyInput';

interface Props {
	id: string
}
const { id } = Astro.props;

---
<Card className="w-full max-w-md mx-auto">
  <CardHeader>
    <CardTitle><ClipLinkLogo class="w-6 h-6" /></CardTitle>
    <CardDescription>Shortened version of your long URL</CardDescription>
  </CardHeader>
  <CardContent>
    <div class="grid w-full items-center gap-4">
      <div class="flex flex-col space-y-1.5">
        <Label className="mb-2" htmlFor="longUrl">Short URL</Label>
        <ShortUrlCopyInput client:load shortId={id} />
      </div>
    </div>
  </CardContent>
  <CardFooter>
    <div class='flex space-x-4'>
      <a id="openShortUrl" data-id={id} target="_blank">
        <Button type="button">
          <ExternalLink /> Open Short URL
        </Button>
      </a>
      <a href="/">
        <Button type="button">
          Shorten another URL
        </Button>
      </a>
    </div>
  </CardFooter>
</Card>

<script>
  const openShortUrl = document.getElementById('openShortUrl') as HTMLAnchorElement;
  const id = openShortUrl?.dataset.id;
  if ( id ) {
    const shortUrl = `${window.location.origin}/${id}`;
    console.log(shortUrl);
    openShortUrl.href = shortUrl;
  }
</script>