---
import { UrlServiceImpl, UrlViewServiceImpl } from '@/infrastructure';

const page = await new UrlViewServiceImpl(new UrlServiceImpl()).getUrls(1, 1);
const urlsCount = page?.total;

---
<p class="flex items-center">
  <span class="text-2xl font-bold mr-2">{urlsCount}</span>
  URLs shortened
</p>