---
import { UrlRepositoryImpl, UrlServiceImpl } from '@/infrastructure';

const token = Astro.cookies.get('access_token')?.value;

const page = await new UrlServiceImpl(new UrlRepositoryImpl()).getUrls(1, 1, '', token);
const urlsCount = page?.total;

---
<p class="flex items-center">
  <span class="text-2xl font-bold mr-2">{urlsCount}</span>
  URLs shortened
</p>