---
import type { User } from '@/domain';

import AuthDropdown from '@/presentation/components/auth/AuthDropdown';
import ModeToggle from '@/presentation/components/shared/ModeToggle';
import { Button } from '@/presentation/components/ui/button';
import UserIcon from '@/presentation/icons/UserIcon.astro';
import ClipLinkLogo from '@/presentation/components/shared/ClipLinkLogo.astro';
import { Skeleton } from '@/presentation/components/ui/skeleton';

interface Props {
  user: User
}

const { user } = Astro.props;

---
<header class="sticky top-0 z-50 w-full transition-all duration-300 ease-in-out bg-background">
  <div class="container mx-auto px-4">
    <div class="flex h-12 items-center justify-between">
      <div class="text-lg font-bold">
        <ClipLinkLogo class="w-8 h-8" />
      </div>
      <nav class="flex justify-center items-center gap-x-4">
        { user
          ?
            <AuthDropdown name={ user.name } lastName={ user.lastName } client:only>
              <Skeleton slot="fallback" className="w-8 h-8 rounded-full" />
            </AuthDropdown>
          : <a href="/auth/login"><Button variant="ghost"><UserIcon /> Log in</Button></a>
        }
        <ModeToggle client:load />
      </nav>
    </div>
  </div>
</header>