---
import type { User } from '@/domain';
import AuthDropdown from '@/presentation/components/shared/AuthDropdown';
import { Button } from '@/presentation/components/ui/button';
import UserIcon from '@/presentation/icons/UserIcon.astro';

interface Props {
  user: User
}

const isScrolled = true;
const { user } = Astro.props;

---
<header
class={`sticky top-0 z-50 w-full transition-all duration-300 ease-in-out ${
  isScrolled
    ? 'bg-background/70 backdrop-blur-md shadow-sm'
    : 'bg-background'
}`}
>
<div class="container mx-auto px-4">
  <div class="flex h-12 items-center justify-between">
    <div class="text-lg font-bold">URL Shortener</div>
    <nav  class="flex space-x-4">
      { user
        ? <AuthDropdown name={user.name} client:load />
        : <a href="/auth/login"><Button variant="ghost"><UserIcon /> Log in</Button></a>
      }
    </nav>
  </div>
</div>
</header>