---
import AuthLayout from '@/presentation/layouts/AuthLayout.astro';
import RegisterEmailForm from '@/presentation/components/auth/RegisterEmailForm';
import RegisterEmailFormSkeleton from '@/presentation/components/auth/RegisterEmailFormSkeleton.astro';

export const prerender = true;

---
<AuthLayout action="login">
  <div class="w-full max-w-md mx-auto">
    <div class="flex flex-col items-center space-y-2">
      <h1 class="text-2xl font-semibold tracking-tight text-center">
        Create an account
      </h1>
      <p class="px-8 text-center text-sm text-muted-foreground">
        Enter your name, last name and password to create your account
      </p>
      <div class="w-full max-w-xs space-y-6">
        <RegisterEmailForm client:only>
          <RegisterEmailFormSkeleton slot="fallback" />
        </RegisterEmailForm>
      </div>
      <div style="text-align: center;">
        <a href="/auth/register" data-testid="login/other-options-link" data-zone="null" class="font-normal text-sm text-blue-600 dark:text-blue-500 hover:underline">
          ← Other Register options
        </a>
      </div>
    </div>
  </div>
</AuthLayout>
