---
import { UrlServiceImpl, UrlViewServiceImpl } from '@/infrastructure';

import HomeLayout from '@/presentation/layouts/HomeLayout.astro';
import Dashboard from '@/presentation/components/url/Dashboard';

const data = await new UrlViewServiceImpl(new UrlServiceImpl()).getUrls(1, 9);
const urls = data ? data.items : [];
---

<HomeLayout>
  <div class="container mx-auto p-4 self-start">
    <h1 class="text-2xl font-bold mb-8">Dashboard</h1>
    <Dashboard urls={ urls } client:load />
  </div>
</HomeLayout>
